.MainBoard {
   margin: 0 auto;
   height: 600px;
   width: 600px;
   border: 4px solid rgb(24, 240, 78);
   box-shadow: 0 0 45px rgb(37, 235, 19);
}

.game-grid {
   background-color: rgb(185, 192, 159);
   height: 200px;
   width: 200px;
   border: 2px solid #000;
   float: left;
   box-sizing: border-box;
   text-align: center;
   line-height: 180px;
   font-size: 180px;
   font-weight: 900;
   color: rgb(175, 48, 48);
}
#GameOver {
   margin-top: 150px;
   left: 200px;
   color: chartreuse;
   background-color: rgb(92, 76, 76);
   border: 2px solid rgb(204, 2, 2);
   box-shadow: 0 0 45px rgb(231, 39, 13);
   height: 50px;
   width: 120px;
   font-size: 20px;
   font-weight: 900;
   position: absolute;
}